#ifndef parameters_hpp
#define parameters_hpp

#include <string>
#include <vector>

namespace varmodel {{

/*** OUTPUT SETTINGS ***/

// Path to database output file for sampled data, absolute or relative to the working directory the program is executed in.
const std::string {SAMPLE_DB_FILENAME};

// Whether or not to write out all hosts to database
const bool {OUTPUT_HOSTS};

// Whether or not to write out all genes to database
const bool {OUTPUT_GENES};

// Whether or not to write out all strains to database
const bool {OUTPUT_STRAINS};

// How often to sample hosts, in simulation time units
const double {HOST_SAMPLING_PERIOD};

// Whether or not to sample transmission events
const bool {SAMPLE_TRANSMISSION_EVENTS};

// How often to sample a transmission event, in number of transmission events.
const uint64_t {TRANSMISSION_EVENT_SAMPLING_SKIP};

// Burn-in period for simulation before which output will not be written.
const double {T_BURNIN};


/*** CHECKPOINT SETTINGS ***/

// Whether or not to load from a checkpoint file
const bool {LOAD_FROM_CHECKPOINT};

// Filename of checkpoint to load from
const std::string {CHECKPOINT_LOAD_FILENAME};

// Whether or not to save checkpoints
const bool {SAVE_TO_CHECKPOINT};

// Path to checkpoint output file
const std::string {CHECKPOINT_SAVE_FILENAME};

// How often, in simulation time units, to save checkpoints
const double {CHECKPOINT_SAVE_PERIOD};


/*** MODEL PARAMETERS ***/

const std::string {SELECTION_MODE};

// Random seed for simulation.
const uint64_t {RANDOM_SEED};

// Simulation time corresponding to one year
const double {T_YEAR};
                
// Simulation end time
const double {T_END};

// Number of genes in the global pool.
const uint64_t {N_GENES};

// Number of genes per pathogen strain.
const uint64_t {N_GENES_PER_STRAIN};

// Number of loci per gene
const uint64_t {N_LOCI_PER_GENE};

// Probability per gene of a mutation when a strain is picked up.
const double {P_MUTATION};

// Probability that a transmitted strain will be formed from recombination.
const double {P_STRAIN_RECOMBINATION};

// Duration of liver stage (pre-expression)
const double {T_LIVER_STAGE};

// Host-lifetime distribution, specified as a discrete PDF, one weight per year, with uniform density within each year.
const std::vector<double> {HOST_LIFETIME_PDF};

// Number of populations
const uint64_t {N_POPULATIONS};

// Number of hosts, by population.
const std::vector<uint64_t> {N_HOSTS};

// Number of initial infections, by population.
const std::vector<uint64_t> {N_INITIAL_INFECTIONS};

// Parameters governing the biting rate sinusoid for each population
// BITING_RATE_MEAN: mean value.
// BITING_RATE_RELATIVE_AMPLITUDE: amplitude as a fraction of the mean.
// BITING_RATE_PEAK_PHASE: fraction of the year (between 0 and 1) at which the sinusoid should reach its peak. 
// The period of the sinusoid is T_YEAR.
const std::vector<double> {BITING_RATE_MEAN};
const std::vector<double> {BITING_RATE_RELATIVE_AMPLITUDE};
const std::vector<double> {BITING_RATE_PEAK_PHASE};

// Immigration rate, in number of random infection events per unit time (per population, not per capita).
const std::vector<double> {IMMIGRATION_RATE};

}} // namespace varmodel

#endif // #ifndef parameters_hpp
